@charset "UTF-8";

/*=========================================================
  FooterInfo
=========================================================*/
.site-footer{
	margin-top:220px;
	padding:24px 0 40px;
	background-color:#0D0D26;
}

@media screen and (max-width:1920px) and (min-width:1025px){
	.site-footer{
		margin-top:11.45833vw;
		padding:1.25vw 0 4.08333vw;
	}
}

@media screen and (max-width:1024px) and (min-width:768px){
	.site-footer{
		margin-top:21.4843vw;
		padding:2.34375vw 0 5.90625vw;
	}
}

@media screen and (max-width: 767px) and (min-width:1px){
	.site-footer{
		margin-top:28.6831vw;
		padding:5.71428vw 0 8.21512vw;
	}
	
	.home .site-footer{
		margin-top:0;
	}
	
	.home .MainContent{
		padding-bottom:28.6831vw
	}
}

/*=========================================================
  FooterInfoTop
=========================================================*/
.FooterInfoTop{
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.FooterInfoTopMenu{
	flex:1;
	font-size:0;
	line-height:0;
}

.FooterInfoTop .main-menu{
	margin-left:-20px;
}

.FooterInfoTop .menu-item{
	overflow:hidden; 
	display:inline-block;
	vertical-align:middle;
	position:relative;
}

.FooterInfoTop .main-menu:after{
	content:'';
	display:block;
	clear:both;
}

.FooterInfoTop .menu-item:before{
	content:'';
	display:block;
	width:1px;
	height:10px;
	position:absolute;
	top:50%;
	right:0;
	background-color:rgba(255,255,255,0.3);
	transform:translateY(-50%);
}

.FooterInfoTop .menu-item:last-child:before{
	right:-2px;
}

.FooterInfoTop .menu-item a{
	display:block;
	padding:0 20px;
	color:#fff;
	font-size:15px;
	font-weight:600;
	line-height:1.4em;
	font-family: 'Mbc';
}



/* responsive */
@media screen and (min-width:1025px){
	.FooterInfoTop .menu-item a:hover{
		color:#33FFCC;
	}
}

@media screen and (max-width:1920px) and (min-width:1025px){

	.FooterInfoTop .main-menu{
		margin-left:-1.04166vw;
	}

	.FooterInfoTop .menu-item:before{
		height:0.52083vw;
	}

	.FooterInfoTop .menu-item a{
		padding:0 1.04166vw;
		font-size:0.78125vw;
	}


}

@media screen and (max-width:1280px) and (min-width:1025px){
	.FooterInfoTop .menu-item a{
		font-size:10px;
	}
}

@media screen and (max-width:1024px) and (min-width:768px){

	.FooterInfoTop .main-menu{
		margin-left:-1.953125vw;
	}

	.FooterInfoTop .menu-item:before{
		height:0.97656vw;
	}

	.FooterInfoTop .menu-item a{
		padding:0 1.953125vw;
		font-size:1.46484vw;
	}


}

@media screen and (max-width: 767px) and (min-width:1px){
	.FooterInfoTop{
		display:block;
	}
	.FooterInfoTop .main-menu{
		margin-left:0;
		text-align:center;
	}

	.FooterInfoTop .menu-item:before{
		height:2.3809vw;
	}

	.FooterInfoTop .menu-item:nth-child(3):before{
		display:none;
	}

	.FooterInfoTop .menu-item a{
		padding:1vw 4.25vw;
		font-size:3.57142vw;
	}


}


/* FooterBtm
=========================================================*/
.FooterInfoTopRight-list{
	margin-right:-15px;
	font-size:0;
	line-height:0;
}

.FooterInfoTopRight-item{
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.FooterInfoTopRight-item:before{
	content: '';
    display: block;
    width: 1px;
    height: 10px;
    position: absolute;
    top: 50%;
    right: 0;
    background-color: rgba(255,255,255,0.3);
    transform: translateY(-50%);
}

.FooterInfoTopRight-item:last-child:before{
	right: -2px;
}

.FooterInfoTopRight-link{
	display:block;
	padding:0 15px;
	color:#888888;
	font-size:15px;
	font-weight:500;
	font-family: 'Mbc';
	line-height:1.4em;
}


@media screen and (max-width:1920px) and (min-width:1025px){
	.FooterInfoTopRight-list{
		margin-right:-0.78125vw;
	}
	.FooterInfoTopRight-item:before{
		height:0.52083vw;
	}

	.FooterInfoTopRight-link{
		padding:0 1.04166vw;
		font-size:0.78125vw;
	}


}

@media screen and (max-width:1280px) and (min-width:1025px){
	.FooterInfoTopRight-link{
		font-size:10px;
	}
}

@media screen and (max-width:1024px) and (min-width:768px){
	.FooterInfoTopRight-list{
		margin-right:-1.4648437vw;
	}
	.FooterInfoTop .main-menu{
		margin-left:-1.953125vw;
	}

	.FooterInfoTopRight-item:before{
		height:0.97656vw;
	}

	.FooterInfoTopRight-link{
		padding:0 1.953125vw;
		font-size:1.46484vw;
	}


}

@media screen and (max-width: 767px) and (min-width:1px){
	.FooterInfoTop{
		display:block;
		padding-top:22vw;
	}
	
	.FooterInfoTopRight{
		text-align:center;
	}
	
	.FooterInfoTopRight-list{
		margin-top:3vw;
		margin-right:0;
	}
	.FooterInfoTopRight-item:before{
		height:2.3809vw;
	}

	.FooterInfoTopRight-link{
		padding:0 3.25vw;
		font-size:3.57142vw;
	}


}


/*=========================================================
  FooterBtmRight
=========================================================*/

.FooterBtmRight{
	font-size:0;
	line-height:0;
}

.FooterBtmRightSns-list{
	font-size:0;
	line-height:0;
	text-align:right;
}
.FooterBtmRightSns-list:after{
	content:'';
	display:block;
	clear:both;
}

.FooterBtmRightSns-item{
	display:inline-block;
	padding-right:8px;
}

.FooterBtmRightSns-item:last-child{
	padding-right:0;
}

.FooterBtmRightSns-link{
	display:block;
	position:relative;
	width:32px;
	height:32px;
	background-color:#fff;
	border-radius:100%;
}

.FooterBtmRightSns-link:before{
	content:'';
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.FooterBtmRightSns-link.facebook:before{
	width:10px;
	height:18px;
	background-image:url('../image/icon/ico-facebook.svg');
	background-size:10px 18px;
}

.FooterBtmRightSns-link.insta:before{
	width:18px;
	height:18px;
	background-image:url('../image/icon/ico-insta.svg');
	background-size:18px 18px;
}

.FooterBtmRightSns-link.youtube:before{
	width:22px;
	height:16px;
	background-image:url('../image/icon/ico-youtube.svg');
	background-size:22px 16px;
}


.FooterBtmRight-copy{
	display:inline-block;
	margin-top:15px;
	color:rgba(255,255,255,0.6);
	font-size:14px;
	line-height:1.4em;
	vertical-align:bottom;
}



@media screen and (max-width:1920px) and (min-width:1025px){
	.FooterBtmRightSns-item{
		padding-right:0.4166vw;
	}

	.FooterBtmRightSns-link{
		width:1.6666vw;
		height:1.6666vw;
	}

	.FooterBtmRightSns-link.facebook:before{
		width:0.52083vw;
		height:0.9375vw;
		background-size:0.52083vw 0.9375vw;
	}

	.FooterBtmRightSns-link.insta:before{
		width:0.9375vw;
		height:0.9375vw;
		background-size:0.9375vw 0.9375vw;
	}

	.FooterBtmRightSns-link.youtube:before{
		width:1.14583vw;
		height:0.83333vw;
		background-size:1.14583vw 0.83333vw;
	}
	
	.FooterBtmRight-copy{
		margin-top:0.78125vw;
		font-size:0.72916vw;
	}

}

@media screen and (max-width:1371px) and (min-width:768px){

	.FooterBtmRight-copy{
		font-size:10px;
	}
}

@media screen and (max-width:1024px) and (min-width:768px){
	.FooterBtmRightSns-item{
		padding-right:0.78125vw;
	}

	.FooterBtmRightSns-link{
		width:3.125vw;
		height:3.125vw;
	}

	.FooterBtmRightSns-link.facebook:before{
		width:0.97656vw;
		height:1.7578vw;
		background-size:0.97656vw 1.7578vw;
	}

	.FooterBtmRightSns-link.insta:before{
		width:1.7578vw;
		height:1.7578vw;
		background-size:1.7578vw 1.7578vw;
	}

	.FooterBtmRightSns-link.youtube:before{
		width:2.14843vw;
		height:1.5625vw;
		background-size:2.14843vw 1.5625vw;
	}
	
	
	.FooterBtmRight-copy{
		margin-top:1.46484vw;
		font-size:1.36718vw;
	}
}

@media screen and (max-width: 767px) and (min-width:1px){
	.FooterBtmRight{
		text-align:center;
	}
	
	.FooterBtmRightSns{
		width:100%;
		margin-top:6.51890vw;
		text-align:center;
	}
	
	.FooterBtmRightSns-list{
		text-align:center;
	}
	
	.FooterBtmRightSns-item{
		padding-right:1.904761vw;
	}

	.FooterBtmRightSns-link{
		width:7.6190vw;
		height:7.6190vw;
	}

	.FooterBtmRightSns-link.facebook:before{
		width:2.3809vw;
		height:4.2857vw;
		background-size:2.3809vw 4.2857vw;
	}

	.FooterBtmRightSns-link.insta:before{
		width:4.2857vw;
		height:4.2857vw;
		background-size:4.2857vw 4.2857vw;
	}

	.FooterBtmRightSns-link.youtube:before{
		width:5.2380vw;
		height:3.8095vw;
		background-size:5.2380vw 3.8095vw;
	}
	
	
	.FooterBtmRight-copy{
		margin-top:4.6875vw;
		font-size:3.3333vw;
	}
}

/*=========================================================
  FooterBtm
=========================================================*/
.FooterBtm{
	display:flex;
	justify-content:space-between;
	padding-top:50px;
	align-items: flex-end;
}

.FooterBtmLeft:after{
	content:'';
	display:block;
	clear:both;
}

.FooterBtmLeftLogo{
	float:left;
	width:60px;
	height:52px;
	background-image:url('../image/logo/logo-footer.svg');
	background-size:60px 52px;
}

.FooterBtmLeftAddress{
	float:left;
	margin-left:33px;
}

.FooterBtmLeftAddress-text{
	color:#fff;
	font-size:14px;
	line-height:1.4em;
	vertical-align:bottom;
}

@media screen and (max-width:1920px) and (min-width:1025px){
	.FooterBtm{
		padding-top:2.60416vw;
	}
	.FooterBtmLeftLogo{
		width:3.125vw;
		height:2.70833vw;
		background-size:3.125vw 2.70833vw;
	}
		
	.FooterBtmLeftAddress{
		margin-left:1.71875vw;
	}
	
	.FooterBtmLeftAddress-text{
		font-size:0.72916vw;
	}

}

@media screen and (max-width:1371px) and (min-width:768px){
	.FooterBtmLeftAddress-text{
		font-size:10px;
	}

}

@media screen and (max-width:1024px) and (min-width:768px){
	.FooterBtm{
		padding-top:4.88281vw;
	}
	.FooterBtmLeftLogo{
		width:5.85937vw;
		height:5.0781vw;
		background-size:5.85937vw 5.0781vw;
	}
		
	.FooterBtmLeftAddress{
		margin-left:3.22265vw;
	}
	
	.FooterBtmLeftAddress-text{
		font-size:1.36718vw;
	}


}

@media screen and (max-width: 767px) and (min-width:1px){
	.FooterBtm{
		display:block;
		padding-top:8.51890vw;
	}
	.FooterBtmLeftLogo{
		display:block;
		float:none;
		margin:0 auto;
		position:absolute;
		top:0;
		left:50%;
		transform:translateX(-50%);
		width:18.75vw;
		height:16.25vw;
		background-size:18.75vw 16.25vw;
	}
	.FooterBtmLeftAddress{
		display:block;
		float:none;
		margin-top:0;
		margin-left:0;
		text-align:center;
	}
	.FooterBtmLeftAddress-text{
		font-size:3.3333vw;
	}


}



/*=========================================================
  TopButton
=========================================================*/
.TopButton{
	opacity:0;
	visibility:hidden;
	display:block;
	position:fixed;
	bottom:40px;
	right:20px;
	width:50px;
	height:50px;
	border-radius:100%;
	background-color:#32FFCC;
	z-index:998;
}

.TopButton:after{
	content:'';
	display:block;
	width:18px;
	height:12px;
	background-image:url(../image/icon/ico-TopBtn.png);
	background-size:18px 12px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.TopButton.is-Open{
	opacity:1;
	visibility:visible;
}

/* responsive */
@media screen and (max-width:1920px) and (min-width:1025px){

	.TopButton{
		right:1.04166vw;
		bottom:2.083333vw;
		width:2.604166vw;
		height:2.604166vw;
	}

	.TopButton:after{
		width:0.9375vw;
		height:0.625vw;
		background-size:0.9375vw 0.625vw;
	}
}

@media screen and (max-width:1024px) and (min-width:768px){

	.TopButton{
		right:1.953125vw;
		bottom:3.90625vw;
		width:4.8828125vw;
		height:4.8828125vw;
	}

	.TopButton:after{
		width:1.7578125vw;
		height:1.171875vw;
		background-size:1.7578125vw 1.171875vw;
	}
}

@media screen and (max-width: 767px) and (min-width:1px){

	.TopButton{
		right:4.60756vw;
		bottom:8.5vw;
		width:10.5189vw;
		height:10.5189vw;
	}

	.TopButton:after{
		width:3.3468vw;
		height:1.887vw;
		background-size:3.3468vw 1.887vw;
	}
}

