@charset "UTF-8";

/*=========================================================
  Reset
=========================================================*/
html {font-size:1em;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,button, select, option {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; margin:0; padding:0; border:0; font-family:"Noto Sans", Dotum, 돋움, Helvetica, "Apple SD Gothic Neo", sans-serif; font-size:100%; vertical-align:baseline; -o-box-sizing:border-box; -ms-box-sizing:border-box;}

input[type="text"],input[type="email"],input[type="number"],button,input[type="submit"],input[type="reset"],button,input[type="tel"],button,input[type="password"],input[type="url"],input[type="search"],input[type="file"],button,textarea {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; margin:0; padding:0; border:none; border-radius:0; background:none; font-family:"Noto Sans", Dotum, 돋움, Helvetica, "Apple SD Gothic Neo", sans-serif; font-size:100%;-webkit-appearance:none ; appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none; -webkit-border-radius:0; -moz-border-radius:0; -o-box-sizing:border-box;}
body {position:relative; background:#fff; font-size:16px; line-height:1.7; color:#101010;word-wrap:break-word; word-break:keep-all; text-size-adjust:none; -webkit-text-size-adjust:none; -moz-text-size-adjust:none;font-weight:400;}
h1,h2,h3,h4,h5,h6 {font-weight:normal;}
ol,ul {list-style:none;}
blockquote,q {quotes:none;}
input:focus,button:focus {border:none;}
table {border-spacing:0;}
ul,ol,li {margin:0; padding:0;}
li {list-style:none;}
a:focus {outline:none !important;}
a {text-decoration:none;}
:invalid {box-shadow:none;}
:-moz-submit-invalid {box-shadow:none;}
:-moz-ui-invalid {box-shadow:none;}
button::-moz-focus-inner {margin-top:-2px; margin-bottom:-2px;padding:0; border:0;}
input::-moz-focus-inner {margin-top:-2px; margin-bottom:-2px;padding:0; border:0;}
img {max-width:100%;height:auto;}
button:hover {cursor:pointer;}
button {background:transparent;}
textarea:focus {outline:none;}
:focus {outline:none;}
html {overflow-y:scroll;-webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;}
input[type=text]::-ms-clear {display:none;}
input[type=email]::-ms-clear {display:none;}
input[type=number]::-ms-clear {display:none;}
sup{font-size:0.75em;vertical-align: top;}
sub{font-size:0.75em;vertical-align: bottom;}
select{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; margin:0; padding:0; border:none; border-radius:0; background:none;font-size:100%;-webkit-appearance:none ; appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none; -webkit-border-radius:0; -moz-border-radius:0; -o-box-sizing:border-box;}
select::-ms-expand {display: none;}
::-webkit-file-upload-button { cursor:pointer; }

.ab-text{
	overflow: hidden; 
	display:block; 
	position:absolute; 
	border: 0; 
	width: 1px; 
	height: 1px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

html.is-Hidden{
	overflow:hidden;
}





/* =========================================================
	text style
=========================================================*/

.text-mint{
	color:#33FFCC !important;
	font-family: 'Mbc' !important;
}

.text-purple{
	color:#460899 !important;
	font-family: 'Mbc' !important;
}

.text-regular{
	font-weight:400 !important;
}

.text-medium{
	font-weight:500 !important;
}
.text-bold{
	font-weight:600 !important;
}






/* wordpress reset
=========================================================*/
@media screen and (max-width: 600px) {
  #wpadminbar {position:fixed !important; top:0; left:0;z-index:100000;}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,button{
		min-height:1px;
	}
}

.edit-link{
	display:none;
}

/*=========================================================
  Layout
=========================================================*/
.site {
	display: flex;
	-ms-display: flex;
	flex-direction: column;
	-ms-flex-direction: column;
	height: 100vh;
}

@media screen and  (min-width: 783px) {
  .admin-bar .site-header{
	top:32px;
  }
}
@media screen and (max-width: 782px) {
  .admin-bar .site-header{
	top:46px;
  }
}

.site-content {
	flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	overflow:hidden;
}

.Mo-br{
	display:none;
}

/*Responsive*/
@media screen and (max-width: 1920px) and (min-width: 1025px) {
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
}

@media screen and (max-width: 767px) and (min-width: 1px) {
	.Mo-br{
		display:block;
	}
}

.header-container{
  margin:0 auto;
  position: relative;
  padding:0 60px;
  z-index:10;
}

.header-container:after{
  content: "";
  display: table;
  clear: both;
}

.site-container{
	max-width: 1320px;
	margin:0 auto;
	position: relative;
	padding:0 60px;
}

.site-container:after{
	content: "";
	display: table;
	clear: both;
}

.footer-container{
  max-width: 1320px;
  margin:0 auto;
  position: relative;
  padding:0 60px;
}

.footer-container:after{
  content: "";
  display: table;
  clear: both;
}

.site-footer{
	flex-shrink: 0;
}

@media screen and (max-width: 1920px) and (min-width: 1025px) {
	.header-container{
		padding:0 3.125vw;
	}
	.site-container{
		max-width: 68.75vw;
		padding:0 3.125vw;
	}
	.footer-container{
		max-width: 68.75vw;
		padding:0 3.125vw;
	}
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	.header-container{
		padding:0 2.6041vw;
	}
	.site-container{
		max-width: 100vw;
		padding:0 2.6041vw;
	}
	.footer-container{
		max-width: 80.7083vw;
		padding:0 2.6041vw;
	}
}

@media screen and (max-width: 767px) and (min-width: 1px) {
	.header-container{
		padding:0 6.25vw;
	}
	.site-container{
		max-width: 100%;
		padding:0 6.25vw;
	}
	.footer-container{
		max-width:100%;
		padding:0 6.25vw;
	}
}

/*=========================================================
  Swiper Basic CSS
=========================================================*/
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  height: auto;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  transform: translate3d(0px, 0, 0);
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: auto;
  position: relative;
  transition-property: transform;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-container-fade .swiper-slide{
    transition-property: opacity;
}

.swiper-button-disabled {
  opacity: 0.15;
  cursor: auto;
  pointer-events: none;
}

.is-slide_disable .swiper-button-prev {
  display: none;
}

.is-slide_disable .swiper-button-next {
  display: none;
}

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background-color: rgba(0, 0, 0, 0.3);
}

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 1px;
  height: 98%;
}

.swiper-scrollbar-drag {
   height: 100%;
  width: 100%;
  position: relative;
  background-color: #000;
  border-radius:0;
  left: -1px;
  top: 0;
  width: 3px;
}

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-button-lock {
  display: none;
}

.site-main > .site-container{
	overflow:visible;
}

@media screen and (min-width: 1025px) {
	.site-main > .site-container{
		min-height:600px;
	}
	
	.error404 .site-main > .site-container{
		min-height:0px;
	}
}





/* ============================================================
   Margin
==============================================================*/
/*	Margin:bottom
==============================================================*/
.mb140{
	margin-bottom:140px !important;
}

.mb110{
	margin-bottom:110px !important;
}

.mb100{
	margin-bottom:100px !important;
}

.mb70{
	margin-bottom:70px !important;
}

.mb60{
	margin-bottom:60px !important;
}

.mb50{
	margin-bottom:50px !important;
}

.mb35{
	margin-bottom:35px !important;
}

.mb30{
	margin-bottom:30px !important;
}

.mb25{
	margin-bottom:25px !important;
}

.mb20{
	margin-bottom:20px !important;
}

.mb10{
	margin-bottom:10px !important;
}

.mb0{
	margin-bottom:0px !important;
}


/* Responesive
==============================================================*/
@media screen and (max-width: 1920px) and (min-width: 1025px) {
	.mb140{
		margin-bottom:7.2916vw !important;
	}
	
	.mb110{
		margin-bottom:5.7291vw !important;
	}
	
	.mb100{
		margin-bottom:5.2083vw !important;
	}	

	.mb70{
		margin-bottom:3.6458vw !important;
	}

	.mb60{
		margin-bottom:3.125vw !important;
	}
	
	.mb50{
		margin-bottom:2.60416vw !important;
	}
	
	.mb35{
		margin-bottom:1.8229vw !important;
	}
	
	.mb30{
		margin-bottom:1.5625vw !important;
	}
	
	.mb25{
		margin-bottom:1.30208vw !important;
	}
	
	.mb20{
		margin-bottom:1.0416vw !important;
	}

	.mb10{
		margin-bottom:0.5208333vw !important;
	}
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	.mb140{
		margin-bottom:13.725vw !important;
	}
	
	.mb110{
		margin-bottom:10.7526vw !important;
	}
		
	.mb100{
		margin-bottom:9.7656vw !important;
	}
	
	.mb70{
		margin-bottom:6.6846vw !important;
	}

	.mb60{
		margin-bottom:5.71538vw !important;
	}

	.mb50{
		margin-bottom:4.7619vw !important;
	}
	
	.mb35{
		margin-bottom:3.3923vw !important;
	}
	
	.mb30{
		margin-bottom:2.9076vw !important;
	}
	
	.mb25{
		margin-bottom:2.423vw !important;
	}
	
	.mb20{
		margin-bottom:1.93846vw !important;
	}

	.mb10{
		margin-bottom:0.9765625vw !important;
	}
}

@media screen and (max-width: 767px) and (min-width: 1px) {
	.mb140{
		margin-bottom:33.4128vw !important;
	}
	
	.mb110{
		margin-bottom:19.2529vw !important;
	}
		
	.mb100{
		margin-bottom:17.2529vw !important;
	}
	
	.mb70{
		margin-bottom:16.706vw !important;
	}

	.mb60{
		margin-bottom:14.319vw !important;
	}

	.mb50{
		margin-bottom:11.933vw !important;
	}
	
	.mb35{
		margin-bottom:8.353vw !important;
	}
	
	.mb30{
		margin-bottom:7.1599vw !important;
	}
	
	.mb25{
		margin-bottom:5.966vw !important;
	}
	
	.mb20{
		margin-bottom:4.7732vw !important;
	}

	.mb10{
		margin-bottom:3.125vw !important;
	}
}



/*	Margin:top
==============================================================*/
.mt140{
	margin-top:140px !important;
}

.mt110{
	margin-top:110px !important;
}

.mt100{
	margin-top:100px !important;
}

.mt70{
	margin-top:70px !important;
}

.mt60{
	margin-top:60px !important;
}

.mt50{
	margin-top:50px !important;
}

.mt35{
	margin-top:35px !important;
}

.mt30{
	margin-top:30px !important;
}

.mt25{
	margin-top:25px !important;
}

.mt20{
	margin-top:20px !important;
}

.mt10{
	margin-top:10px !important;
}

.mt0{
	margin-top:0px !important;
}


/* Responesive
==============================================================*/
@media screen and (max-width: 1920px) and (min-width: 1025px) {
	.mt140{
		margin-top:7.2916vw !important;
	}
	
	.mt110{
		margin-top:5.7291vw !important;
	}
	
	.mt100{
		margin-top:5.2083vw !important;
	}	

	.mt70{
		margin-top:3.6458vw !important;
	}

	.mt60{
		margin-top:3.125vw !important;
	}
	
	.mt50{
		margin-top:2.60416vw !important;
	}
	
	.mt35{
		margin-top:1.8229vw !important;
	}
	
	.mt30{
		margin-top:1.5625vw !important;
	}
	
	.mt25{
		margin-top:1.30208vw !important;
	}
	
	.mt20{
		margin-top:1.0416vw !important;
	}

	.mt10{
		margin-top:0.5208333vw !important;
	}
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	.mt140{
		margin-top:13.725vw !important;
	}
	
	.mt110{
		margin-top:10.7526vw !important;
	}
		
	.mt100{
		margin-top:9.7656vw !important;
	}
	
	.mt70{
		margin-top:6.6846vw !important;
	}

	.mt60{
		margin-top:5.71538vw !important;
	}

	.mt50{
		margin-top:4.7619vw !important;
	}
	
	.mt35{
		margin-top:3.3923vw !important;
	}
	
	.mt30{
		margin-top:2.9076vw !important;
	}
	
	.mt25{
		margin-top:2.423vw !important;
	}
	
	.mt20{
		margin-top:1.93846vw !important;
	}

	.mt10{
		margin-top:0.9765625vw !important;
	}
}

@media screen and (max-width: 767px) and (min-width: 1px) {
	.mt140{
		margin-top:33.4128vw !important;
	}
	
	.mt110{
		margin-top:19.2529vw !important;
	}
		
	.mt100{
		margin-top:17.2529vw !important;
	}
	
	.mt70{
		margin-top:16.706vw !important;
	}

	.mt60{
		margin-top:14.319vw !important;
	}

	.mt50{
		margin-top:11.933vw !important;
	}
	
	.mt35{
		margin-top:8.353vw !important;
	}
	
	.mt30{
		margin-top:7.1599vw !important;
	}
	
	.mt25{
		margin-top:5.966vw !important;
	}
	
	.mt20{
		margin-top:4.7732vw !important;
	}

	.mt10{
		margin-top:3.125vw !important;
	}
}
